<div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
    <div class="flex flex-wrap">
      <div class="w-full">
        <img
          alt="gallery"
          class="block h-full w-full rounded-3xl object-cover object-center"
          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        />
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full">
        <img
          alt="gallery"
          class="block h-full w-full rounded-3xl object-cover object-center"
          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp"
        />
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full">
        <img
          alt="gallery"
          class="block h-full w-full rounded-3xl object-cover object-center"
          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp"
        />
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full">
        <img
          alt="gallery"
          class="block h-full w-full rounded-3xl object-cover object-center"
          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp"
        />
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full">
        <img
          alt="gallery"
          class="block h-full w-full rounded-3xl object-cover object-center"
          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(76).webp"
        />
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full">
        <img
          alt="gallery"
          class="block h-full w-full rounded-3xl object-cover object-center"
          src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp"
        />
      </div>
    </div>
  </div>
</div>
